<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.stopsmokin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.STOPSMOKIN">
        <activity android:name=".Achivments"></activity>
        <activity android:name=".NotificYes" />
        <activity android:name=".NotificNo" />

        <receiver
            android:name=".forNot"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".firstentry" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".NotService"
            android:enabled="true" />
    </application>

</manifest>